.btn {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.btn:hover .btn-slide-show-text1 {
    margin-left: 65px;
}

.zoom-out {
    display: inline-block;
    color: rgb(255, 255, 255);
    margin: 20px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica;
    text-align: center;
    transition: all 0.5s ease 0s;
    border: none;
}

.zoom-out:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.zoom-out--red {
    background: #da4167;
}

/* all the stuff from the stripe tutorial */
form>* {
    margin: 10px 0;
}
input,
select {
    display: block;
    font-size: 1.1em;
    width: 100%;
    margin-bottom: 10px;
}

label {
    display: block;
}

a {
    color: var(--accent-color);
    font-weight: 900;
}

small {
    font-size: 0.6em;
}

fieldset,
input,
select {
    border: 1px solid #efefef;
}
#payment-form {
    border: #f6f9fc solid 1px;
    border-radius: var(--radius);
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%),
        0 30px 60px -30px rgb(0 0 0 / 30%);
}

#messages {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
    display: none;
    /* hide initially, then show once the first message arrives */
    background-color: #0a253c;
    color: #00d924;
    padding: 20px;
    margin: 20px 0;
    border-radius: var(--radius);
    font-size: 0.7em;
}