.nav-title {
    font-size: 2em;;
    font-weight: 700;
    display: inline-block;
    color: #1C1D21;
    padding-left: 200px;
    padding-top: 5px;
}

.nav-title:hover {
  color: #da4167;
}

.nav {
  margin: 0 0 40px;
  background-color: #fffff7;
  overflow: hidden;
  text-align: center;
}

.nav-link {
  float: left;
  color: #1C1D21;
  background-color: #fffff7;
  text-align: center;
  padding: 40px 10px;
  text-decoration: none;
  font-size: 15px;
  border-left: solid #B5B5B5 1px;
  border-bottom: solid #B5B5B5 1px;
  /* these last two make the logout button in
  the nav bar look like another link */
  cursor: pointer;
  outline:0;

  transition: 150ms ease-in;
}

.nav-link:hover {
  color: #da4167;
}

.nav-right {
  float: right;
}

.search{
  float: left;
  padding-top: 15px;
}